### Maven build output ###
target/
*.class
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Coverage and JVM diagnostics ###
jacoco.exec
jacoco-it.exec
*.hprof
hs_err_pid*
replay_pid*

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Ignore MySQL data and sockets
**/master-data/
**/slave-data/
*.sock
/docs/